.submit-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 4vw;
}

.cancel-button {
    border: 0;
    border-radius: 3px;
    font-size: 0.6rem;
    cursor: pointer;
}

.save-button {
    border: 0;
    border-radius: 3px;
    font-size: 0.6rem;
    cursor: pointer;
}

@media only screen and (max-width: 840px) {
    .submit-container {
        display: flex;
        flex-direction: column;
    }

    .cancel-button {
        margin-bottom: 2vh;
    }

    .save-button {
        margin-bottom: 2vh;
    }
}