.bg-pale-grey {
    background-color: #f5f8f9;
}

.bg-grey {
    background-color: #B1BFCD;
}

.bg-charcoal-grey {
    background-color:  #373d40; 
}

.bg-blue-green {
   background-color: #49c8a8;
}

.charcoal-grey {
    color:  #373d40;
}

.white {
    color: white;
}

.tangerine {
    color: #ff9200;
}

